.wrapper {
    max-width: 100%;
}

a {
  color:#5294e2;
  font-weight:400;
  text-decoration:none;

  &:hover {
    color: #72b3ff;
  }
}

nav > ul.main_nav {
    list-style: none;
    margin-left: -40px;
}

nav > ul.main_nav > li {
    line-height: 20px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    float: left;
    margin: 0 5px;
}

nav > ul.main_nav > li > a {
    background-color: #5294e2;
    color: white;
    padding: 8px 10px;
    line-height: 14px;
    font-size: 14px;
    font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    border-radius: 1px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
}

nav > ul.main_nav > li > a:hover {
    background: linear_gradient(#1f589b, #184172);
    background-color: #3e71ad;
    border: 1px solid #27476d;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px transparent;
}

nav > ul.right {
    float: right; /* This makes sure links to the right are placed there */
}

section {
    max-width: 100%;
    padding: 30px 0px 50px 0px;
    margin: 20px 0;
    margin-top: 70px;
    #title {
        border: 0;
        outline: none;
        margin: 0 0 50px 0;
        padding: 0 0 5px 0;
        h1 {
            font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-size: 40px;
            text-align: center;
            line-height: 36px;
        }
        p {
            color: #d7cfbe;
            font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-size: 18px;
            text-align: center;
        }
        .credits {
            font-size: 11px;
            font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: normal;
            color: #696969;
            margin-top: -10px;
            &.left {
                float: left;
            }
            &.right {
                float: right;
            }
        }
    }
}
